@page
@model Hotel_Bluebird.Pages.Facilities.FacilitiesModel
@{
}

<h2 class="mt-5 pt-4 text-center fw-bold h-font">Our Facilites</h2>
<div class="h-line bg-dark"></div>
<p class="text-center mt-3">
    Hotel Facilities: Everything You Should Know About Facilities in Hotels
</p>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-5 px-4">
            <div class="bg-white rounded shadow p-4 border-top border-4 border-dark pop">
                <div class="d-flex align-items-center mb-2">
                    <img src="~/img/facilities/img_27079.svg" width="40px" alt="img1" />
                    <h5 class="m-0 ms-3">Header</h5>
                </div>
                <p>
                    For a hotel that needs to air condition multiple rooms, the best option is the central air conditioning model.
                    This Header works through a system of ducts that help to remove hot air in the rooms and replace it.
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5 px-4">
            <div class="bg-white rounded shadow p-4 border-top border-4 border-dark pop">
                <div class="d-flex align-items-center mb-2">
                    <img src="~/img/facilities/IMG_41622.svg" width="40px" alt="img2" />

                    <h5 class="m-0 ms-3">Tv</h5>
                </div>
                <p>
                    For a hotel that needs to air condition multiple rooms, the best option is the central air conditioning model.
                    This TV works through a system of ducts that help to remove hot air in the rooms and replace it.
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5 px-4">
            <div class="bg-white rounded shadow p-4 border-top border-4 border-dark pop">
                <div class="d-flex align-items-center mb-2">
                    <img src="~/img/facilities/IMG_43553.svg" width="40px" alt="img3" />
                    <h5 class="m-0 ms-3">Wifi</h5>
                </div>
                <p>
                    For a hotel that needs to air condition multiple rooms, the best option is the central air conditioning model.
                    This WiFi works through a system of ducts that help to remove hot air in the rooms and replace it.
                </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-5 px-4">
            <div class="bg-white rounded shadow p-4 border-top border-4 border-dark pop">
                <div class="d-flex align-items-center mb-2">
                    <img src="~/img/facilities/img_49949.svg" width="40px" alt="img4" />

                    <h5 class="m-0 ms-3">AC</h5>
                </div>
                <p>
                    For a hotel that needs to air condition multiple rooms, the best option is the central air conditioning model.
                    This AC works through a system of ducts that help to remove hot air in the rooms and replace it.
                </p>
            </div>
        </div>
        
    </div>
</div>